html, body {
	width: 100%;
    height: 100%;
}

body {
	margin: 0;
	margin-top: 10px;
	font-family: Helvetica, Arial;
    overflow: hidden;
    text-align: center;
}

.instructions {
	text-align: center;
}